extends ../layouts/layout

block content
    div.container
        div.ledger-title
            h2 Bills
            button.button(onclick="addBill()") Add Bill
        table.bills
            thead
                tr.header
                    th Amount
                    th Category
                    th Image
            tbody
                if bills.length > 0
                    each bill in bills
                        tr.bill
                            td.amount= '$' + bill.amount
                            td.category= bill.category
                            td.image Placeholder
                else
                    tr.bill
                        td.message.warning(colspan="3") No Bills Found
        
        div.ledger-title
            h2 Outstanding Payments
        table.bills
            thead
                tr.header
                    th.amount Amount Owed
                    th Owed To
                    th Status
                    th Request Verification
            tbody
                if outstandingPayments.length > 0
                    each payment in outstandingPayments
                        tr
                            td.amount= '$' + payment.amount
                            td= payment.paidTo.displayName
                            td(id=`status-${payment.id}`)= payment.status
                            td(id=`button-${payment.id}`)
                                if payment.status === 'Unpaid'
                                    button.paid.button(onclick=`onPaidClicked(${JSON.stringify(payment)})`) Send Request
                                else
                                    span Requested
                else
                    tr
                        td.message.warning(colspan="2") No Outstanding Payments, Good Job!
    
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/js/bills.js")