extends ../layouts/layout

block content
    div.container
        div.ledger-title
            h2 Bills
            button.button(onclick="addBill()") Add Bill
        table.bills
            thead
                tr.header
                    th Amount
                    th Category
                    th Image
                    th Awaiting Response
            tbody
                if bills.length > 0
                    - let billCount = 0;
                    each bill in bills
                        if billCount % 2 === 0
                            tr.bill(onclick=`onBillClicked(${JSON.stringify(bill)})`)
                                td.amount= '$' + bill.amount
                                td.category= bill.category
                                td.image Placeholder
                                td.awaiting(id=`awaiting-${bill.id}`)
                                    if bill.payments.length > 0
                                        span= bill.payments.length
                        else
                            tr.bill.odd(onclick=`onBillClicked(${JSON.stringify(bill)})`)
                                td.amount= '$' + bill.amount
                                td.category= bill.category
                                td.image Placeholder
                                td.awaiting(id=`awaiting-${bill.id}`)
                                    if bill.payments.length > 0
                                        span= bill.payments.length
                        - billCount++;
                        if bill.payments.length > 0
                            tr.hide(id=`payments-${bill.id}`)
                                td.payments(colspan="4")
                                    table.payments
                                        thead
                                            tr.payment-head
                                                th Amount
                                                th Paid By
                                                th Payment Received
                                        tbody
                                            - let paymentCount = 0;
                                            each payment in bill.payments
                                                if paymentCount % 2 === 0
                                                    tr.payment
                                                        td.amount= '$' + payment.amount
                                                        td= payment.paidBy.displayName
                                                        td
                                                            button.paid.button(id=`verify-${payment.id}` onclick=`onVerifyClicked(${JSON.stringify(payment)})`) Verify Payment
                                                else
                                                    tr.payment.odd
                                                        td.amount= '$' + payment.amount
                                                        td= payment.paidBy.displayName
                                                        td
                                                            button.paid.button(id=`verify-${payment.id}` onclick=`onVerifyClicked(${JSON.stringify(payment)})`) Verify Payment
                                                - paymentCount++;
                else
                    tr.bill
                        td.message.warning(colspan="4") No Bills Found
        
        div.ledger-title
            h2 Outstanding Payments
        table.bills
            thead
                tr.header
                    th.amount Amount Owed
                    th Owed To
                    th Status
                    th Request Verification
            tbody
                if outstandingPayments.length > 0
                    each payment in outstandingPayments
                        tr.outstanding
                            td.amount(id=`owed-${payment.billId}`)= '$' + payment.amount.toFixed(2)
                            td= payment.paidTo.displayName
                            td(id=`status-${payment.billId}-${payment.id}`)= payment.status
                            td(id=`button-${payment.billId}-${payment.id}`)
                                if payment.status === 'Unpaid'
                                    input.pay-input(id=`pay-${payment.billId}-${payment.id}` type="text")
                                    button.paid.button(onclick=`onPaidClicked(${JSON.stringify(payment)})`) Pay
                                else
                                    span Awaiting Verification
                else
                    tr
                        td.message.complete(colspan="4") No Outstanding Payments, Good Job!
    
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/js/bills.js")